.idea
src/angularPractice/flymeal/node_modules
src/angularPractice/resource
src/angularPractice/http-server
src/angularPractice/pca
src/angularPractice/dropdown
node_modules
npm-debug.log
src/jsPractice/table/index.js
