.modal {
    position: fixed;
    top: 36%;
    left: 50%;
    margin-left: -220px;
    z-index: 1050;
    width: 440px;
    background-color: #ffffff;
    border: 5px solid #b2b2b2;
    border: 5px solid rgba(178, 178, 178, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    background-clip: padding-box;
    outline: none;
}

.modal .modal-header {
    padding: 6px 0;
    margin: 0 10px;
    border-bottom: 1px solid #b7b7b7;
}

.modal .modal-body {
    position: relative;
    overflow-y: auto;
    min-height: 100px;
    max-height: 550px;
    margin: 0;
    padding: 10px 15px;
}

.modal .modal-footer {
    padding: 7px 10px 5px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f1f4f5;
    border-radius: 0 0 6px 6px;
    box-shadow: inset 0 1px 0 #ffffff;
}

.modal .modal-header .modal-title {
    margin: 0;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.modal .close {
    float: right;
    font-size: 24px;
    line-height: 18px;
    color: #666;
    text-shadow: 0 1px 0 #ffffff;
    outline: none;
}
