* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #e3e3e3;
    margin: 0 auto;
    max-width: 600px;
}

.title {
    font-size: 20px;
    line-height: 60px;
    border-bottom: 1px solid #fff;
}

.login > dl {
    margin: 16px 0;
}

.login > dl > dt {
    float: left;
    width: 160px;
}

.login > dl > dt > label {
    float: right;
    line-height: 36px;
    font-size: 18px;
}

.login > dl > dd {
    margin-left: 160px;
}

.login > dl > dd > input {
    width: 186px;
    border-radius: 3px;
    margin-left: 32px;
    border: 1px;
    padding: 10px;
    font-size: 16px;
}

.login-btn {
    font-size: 16px;
    padding: 0 15px;
    line-height: 36px;
    background: #3e8acc;
    color: #fff;
    border: 1px solid #3e8acc;
    border-radius: 3px;
}

.error {
    display: none;
    margin-left: -9px;
}

.error-arrow {
    width: 0px;
    height: 0px;
    border: 5px solid;
    border-color:#e3e3e3 #ff3300 #e3e3e3 #e3e3e3;
    display: inline-block;
    position: relative;
    left: 5px;
}

.error-content {
    display: inline-block;
    background: #ff3300;
    font-size: 12px;
    color: #fff;
    line-height: 22px;
    padding: 0 8px;
    border-radius: 3px;
}