* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.wrapper {
    position: relative;
    width: 278px;
}

.clear:after {
    content: ' ';
    display: block;
    clear: both;
}

.shop {
    padding: 20px;
    background: #f5f5f5;
    width: 278px;
}

.shop-logo {
    float: left;
    padding-right: 20px;
}

.shop-logo img {
    width: 70px;
    height: 70px;
}

.shop-logo div {
    font-size: 14px;
    color: #aaaaaa;
    line-height: 30px;
}

.shop-content {
    float: left;
}

.shop-content dt {
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}

.shop-content dd > div{
    font-size: 12px;
    line-height: 22px;
    color: #a6a6a6;
}

.icon-list {
    margin-top: 8px;
}

.icon-list li {
    float: left;
    font-size: 14px;
    color: #fff;
    padding: 1px;
    border-radius: 2px;
    margin-right: 4px;

}

.icon-list > .s {
    background: #f6aa22;
    border: 1px solid #f6aa22;
}

.icon-list > .sub {
    background: #f26f6d;
    border: 1px solid #f26f6d;
}

.icon-list > .f {
    background: #6dbe3c;
    border: 1px solid #6dbe3c;
}

.icon-list > .p {
    border: 1px solid #f2716f;
    color: #f2716f;
}

.desc {
    position: absolute;
    top: 0;
    left: 318px;
    border: 2px solid #aaa;
    padding: 0 12px 12px 12px;
    width: 270px;
}

.desc h3 {
    font-size: 16px;
    line-height: 60px;
    border-bottom: 1px solid #aaa;
}

.icon-desc {
    padding: 4px 0;
}

.icon-desc > li {
    font-size: 12px;
    line-height: 16px;
    padding: 6px 0;
}

.icon-desc > li > i {
    font-size: 14px;
    color: #fff;
    padding: 1px;
    border-radius: 2px;
    font-style: normal;
}

.icon-desc  .s {
    background: #f6aa22;
    border: 1px solid #f6aa22;
}

.icon-desc  .sub {
    background: #f26f6d;
    border: 1px solid #f26f6d;
}

.icon-desc  .f {
    background: #6dbe3c;
    border: 1px solid #6dbe3c;
}

.icon-desc  .p {
    border: 1px solid #f2716f;
    color: #f2716f;
}

.mark {
    color: #f2716f;
}

.deliver {
    padding: 8px 0;
    background: #f2f2f2;
    height: 20px;
}

.deliver > li {
    float: left;
    font-size: 12px;
    padding: 0 8px;
    line-height: 20px;
    border-left: 1px solid #ddd;
}

.deliver > li:first-child {
    border-left: 0px solid #ddd;
}

.msg {
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
}

/*
三角形边框实现,是两个用border模拟的小三角行重叠的效果
https://segmentfault.com/a/1190000000535334
*/

.arrow {
    position:absolute;
    width: 0px;
    height:0px;
    line-height: 0px;
    border-width: 12px 12px 12px 0;
    border-style: dashed solid dashed dashed;
    border-color: transparent #fff transparent transparent;
}

.arrow-border {
    border-color: transparent #aaa transparent transparent;;
    left: -14px;
    top: 5%;
}
.arrow-bg {
    left: -11px;
    top: 5%;
}

.desc {
    transition: all linear 0.5s;
}

.desc.ng-hide {
    opacity: 0;
}
