table {
    border-spacing: 0;
    border-collapse: collapse;
}

.date-box {
    min-height: 20px;
    padding: 10px;
    width: 182px;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.date-box td {
     text-align: center;
     font-weight: normal;
     color: #555555;
}

.date-box td > a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    font-size: 10px;
    padding: 5px;
    display: inline-block;
}

.date-box td > a.selected {
    background: cornflowerblue;
    border-radius: 50%;
    color: white;
}

.date-box th {
    height: 20px;
}

.date-box th > a {
    margin: 0 5px;
    font-size: 12px;
}
