<div my-dropdown class="dropdown dropdown-autocomplete" auto-close="true" disabled="{{vm.disabled}}" on-toggle="vm.toggle(open)">
    <div my-dropdown-toggle class="dropdown-toggle">
        <input type="text" ng-model="vm.selectLabel"/>
        <i class="fa fa-angle-down" style="float:right;line-height: 1.5;" aria-hidden="true"></i>
    </div>
    <ul my-dropdown-menu class="dropdown-menu">
        <li ng-repeat="data in vm.dataList" data-value="{{data.value}}" ng-click="vm.selectOption(data)">
            <a href="#" ng-bind-html="data.label"></a>
        </li>
    </ul>
</div>
