<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>dropdown 练习</title>
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./dropdown.css">
    <link rel="stylesheet" href="./index.css">
</head>
<body ng-controller="MainController">
<div class="main">
    <div my-dropdown on-toggle="toggle(open)" auto-close="true" class="dropdown">
        <a href="#" my-dropdown-toggle class="dropdown-toggle">{{orderLabel}}
            <i class="fa" ng-class="{'fa-arrow-down': orderIcon === 'desc', 'fa-arrow-up': orderIcon === 'asc'}" aria-hidden="true"></i>
        </a>
        <ul my-dropdown-menu class="dropdown-menu">
            <li ng-repeat="order in orderSortList" ng-click="orderClick(order, $index)">
                <a href="#"><i class="fa" ng-class="{'fa-check': selectedIndex === $index}" aria-hidden="true"></i> {{order.label}}</a>
            </li>
        </ul>
    </div>

    <div my-dropdown class="dropdown">
        <button my-dropdown-toggle class="dropdown-toggle btn">文件</button>
        <ul my-dropdown-menu class="dropdown-menu">
            <li><a href="#">打开新标签页</a></li>
            <li><a href="#">打开新窗口</a></li>
            <li><a href="#">打开新的隐身窗口</a></li>
            <li><a href="#">打开文件...</a></li>
            <li><a href="#">打开位置...</a></li>
        </ul>
    </div>

    <div my-dropdown class="dropdown" auto-close="{{autoClose}}">
        <button my-dropdown-toggle class="dropdown-toggle btn">{{ address + proName + cityName + areaName }}</button>
        <div my-dropdown-menu class="dropdown-menu" style="width: 380px">
            <div class="menu-container clearfix">
                <ul class="section">
                    <li ng-repeat="p in province" ng-click="showCity(p)"><a href="#">{{ p.name }}</a></li>
                </ul>
                <ul class="section">
                    <li ng-repeat="c in city" ng-click="showArea(c)" ><a href="#">{{ c.name }}</a></li>
                </ul>
                <ul class="section">
                    <li ng-repeat="a in area" ng-click="check(a)"><a href="#">{{ a.DisName }}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div my-dropdown class="dropdown">
        <a href="#" my-dropdown-toggle class="dropdown-toggle">show</a>
        <div my-dropdown-menu class="dropdown-menu">
            <img src="#" width="100px" height="100px" alt="我是一个图片">
        </div>
    </div>
</div>
</body>
<script src="./json.js"></script>
<script src="//cdn.bootcss.com/angular.js/1.5.6/angular.min.js"></script>
<script src="dropdown.js"></script>
</html>
