<div>
    <ul class="paging clearfix">
        <li><a href="javascript:void(0)" ng-click="firstPage()" ng-disabled="options.currentPage === 1">首页</a></li>
        <li><a href="javascript:void(0)" ng-click="prevPage()" ng-disabled="options.currentPage === 1">上一页</a></li>
        <li><a href="javascript:void(0)" ng-click="nextPage()" ng-disabled="options.currentPage === totalPages">下一页</a></li>
        <li><a href="javascript:void(0)" ng-click="lastPage()" ng-disabled="options.currentPage === totalPages">尾页</a></li>
        <li>第<input type="text" ng-model="jumpToPageNum" ng-blur="jumpTo()"/>页</li>
        <li>{{options.currentPage}}/{{totalPages}}</li>
        <li>
            <select ng-model="options.pageSize" ng-options="o as o for o in pageSizes"></select>
        </li>
    </ul>
</div>
