* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    margin: 10px auto;
    width: 800px;
}

.tabs {

}

.tabs > ul {
    border-bottom: 1px solid #ddd;
}

.tabs > ul > li {
    display: inline-block;
    height: 36px;
    padding: 0px 18px;
}

.tabs > ul > li.selected {
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}


.tabs > ul > li > a {
    line-height: 36px;
    font-size: 18px;
    color: #5196df;
}

.tabs > ul > li.selected > a{
    color: #bfbfbf;
}

.tags > ul {
    padding: 5px 10px;
}

.tags > ul > li {
    display: inline-block;
    padding: 0 10px;
    margin: 0px 5px 5px 0px;
    background: #56c0e0;
    border-radius: 3px;
}

.tags > ul > li > a {
    font-size: 12px;
    line-height: 22px;
    color: #fff;
}

.contents > ul {
    padding: 0px 10px;
}


.contents > ul > li {
    padding-top: 6px;
    border-bottom: 1px solid #ddd;
}

.articleHeader {
    font-size: 16px;
    line-height: 28px;
    color: #5196df;
}

.articleHeader > .fa-star-o {
    float: right;
}

.articleHeader > span {
    padding-left: 16px;
}

.articleFooter {
    font-size: 12px;
    line-height: 24px;
}

.articleFooter > i{
    padding-right: 10px;
}