.tree {
    font-size: 12px;
    padding: 5px 0;
}

.tree .treeItem {
    margin: 5px 3px 0 10px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.tree .treeItem > .treeItemContent {
    padding: 2px;
}

.tree .treeItem > .treeItemContent.selected {
    background: #0e0e0e;
    color: white;
}

.tree .treeItem > .treeItemContent > .treeIcon {
    font-size: 12px;
}

.tree .treeItem > .treeItemContent > .treeArr {
    font-size: 8px;
    cursor: pointer;
}

.tree .treeLeaf {
    margin-left: 20px;
}

.tree .treeItem .treeLabel {
    font-size: 12px;
    line-height: 12px;
}

.tree .treeItem .treeLabel > .labelEdit {
    font-style: oblique;
    text-decoration: underline;
}

.tree .treeItem > .treeChildren {
    padding: 0;
}
